<!-- <!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <link href="css/style.min.css?v=1.0" rel="stylesheet">
  <title></title>
</head>

<body>

  <header class="page-header"></header> -->

<!DOCTYPE html>
<html lang="ru">

<head>
  <title>Start template</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Page description">
  <link href="{{ site.theme.link }}/assets/css/swiper-bundle.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />
  <link href="{{ site.theme.link }}/assets/css/aos.css" rel="stylesheet" type="text/css">
  <link href="css/style.min.css?v=1.0" rel="stylesheet">
</head>

<body>
  <header class="main-header d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
      <a href="" class="header-logo text-decoration-none">
        <img src="img/logo.png" alt="">
      </a>
      <div class="main-header-menu">
        <ul class="main-menu d-flex align-items-center justify-content-between list-none p-0 m-0">
          <li class="menu-item-has-children position-relative">
            <a class="d-flex text-decoration-none" href="">About us</a>
            <ul class="sub-menu list-none">
              <li><a class="d-flex position-relative text-decoration-none" href="">About us</a></li>
              <li><a class="d-flex position-relative text-decoration-none" href="">About us</a></li>
              <li><a class="d-flex position-relative text-decoration-none" href="">About us</a></li>
              <li><a class="d-flex position-relative text-decoration-none" href="">About us</a></li>
            </ul>
          </li>
          <li class="menu-item-has-children position-relative">
            <a class="d-flex text-decoration-none" href="">Our products and services</a>
            <ul class="sub-menu list-none">
              <li><a class="d-flex position-relative text-decoration-none" href="">Wellness equipment</a></li>
              <li class="menu-item-has-children position-relative">
                <a class="d-flex position-relative text-decoration-none" href="">Aestetic medicine: technologyes</a>
                <ul class="sub_sub-menu list-none">
                  <li><a class="d-flex position-relative text-decoration-none" href="">Wellness equipment</a></li>
                  <li><a class="d-flex position-relative text-decoration-none" href="">Aestetic medicine: technologyes</a></li>
                  <li><a class="d-flex position-relative text-decoration-none" href="">Professional cosmetics and preparation</a></li>
                  <li><a class="d-flex position-relative text-decoration-none" href="">Expertise</a></li>
                </ul>
              </li>
              <li><a class="d-flex position-relative text-decoration-none" href="">Professional cosmetics and preparation</a></li>
              <li><a class="d-flex position-relative text-decoration-none" href="">Expertise</a></li>
            </ul>
          </li>
          <li>
            <a class="d-flex text-decoration-none" href="">Contacts</a>
          </li>
          <li>
            <a class="d-flex text-decoration-none" href="">Delivery and payment</a>
          </li>
        </ul>
      </div>
      <div class="main-header-socials d-flex align-items-center justify-content-between">
        <a href="" class="social-item d-flex justify-content-center align-items-center text-decoration-none">
          <img src="img/wa.png" alt="">
        </a>
        <a href="" class="social-item d-flex justify-content-center align-items-center text-decoration-none">
          <img src="img/in.png" alt="">
        </a>
        <a href="" class="social-item d-flex justify-content-center align-items-center text-decoration-none">
          <img src="img/ig.png" alt="">
        </a>
      </div>
      <a href="" class="header-callback d-flex align-items-center justify-content-center text-decoration-none js_alModal" data-modal="js_modal-1">Call me back</a>
      <a href="" class="main-header-cart d-flex align-items-center justify-content-center text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none">
          <rect width="39" height="39" x=".5" y=".5" fill="#F2FAFF" stroke="#282828" rx="19.5" />
          <path fill="#282828"
            d="M28.79 13.935a.713.713 0 0 0-.54-.22H24.5c-.031-1.343-.469-2.456-1.313-3.34C22.345 9.491 21.282 9.033 20 9c-1.282.033-2.344.491-3.188 1.375-.843.884-1.28 1.997-1.312 3.34h-3.75a.713.713 0 0 0-.54.22.786.786 0 0 0-.21.565v15.714c0 .23.07.418.21.565.141.147.321.221.54.221h16.5c.22 0 .399-.073.54-.22a.786.786 0 0 0 .21-.566V14.5c0-.23-.07-.418-.21-.565Zm-10.911-2.443c.57-.597 1.277-.904 2.121-.92.843.016 1.55.323 2.121.92.57.597.864 1.338.879 2.222h-6c.016-.883.309-1.624.879-2.222ZM27.5 29.43h-15V15.286h3v3.143H17v-3.143h6v3.143h1.5v-3.143h3v14.143Z" />
        </svg>
      </a>
    </div>
  </header>