<div class="feedback_block">
    <div class="container">
        <div class="feedback-inner d-flex justify-content-between">
            <div class="feedback-left">
                <div class="feedback-title text-uppercase">you can find us</div>
                <div class="feedback-contacts">
                    <div class="feedback-contacts-item">email: <a class="text-decoration-none" href="mailto:info@smart-age-tech.com">info@smart-age-tech.com</a></div>
                    <div class="feedback-contacts-item">tel: <a href="tel:+971 58 685 9559">+971 58 685 9559</a></div>
                </div>
                <div class="feedback-form">
                    <div class="feedback-form-name text-uppercase">We will call youback</div>
                    <form action="">
                        <input class="feedback-input w-100" type="text" placeholder="Your Name" value="">
                        <input class="feedback-input w-100" type="tel" placeholder="Phone Number" value="">
                        <input class="feedback-submit w-100 text-uppercase" type="submit" value="Call me back">
                    </form>
                </div>
            </div>
            <div class="feedback-image position-relative">
                <img class="w-100 h-100" src="{{ site.theme.link }}/assets/images/feedback.jpg" alt="">
                <span class="tag feedback-tag d-flex align-items-center justify-content-center position-absolute text-uppercase">Feedback</span>
            </div>
        </div>
    </div>
</div>