@use "../mixins";

.event {
  min-height: 910px;

  &__bg {
    width: 100%;
    height: fit-content;

    &--one {
      background: #F2FAFF;

      padding: 50px 0 0 0;
    }

    &--two {
      background: linear-gradient(180deg, #F1FAFF 0%, #F4F4F4 100%);

      padding: 0 0 120px 0;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 83%;

    margin: 0 auto;
  }

  &__title {
    display: inline-block;

    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;

    margin: 0 0 40px 0;
  }

  &__wrapper {
    // display: flex;
    // align-items: stretch;
    // justify-content: flex-start;

    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    gap: 10px;

    margin: 0 0 50px 0;
  }

  &__column {

    &--left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      background-color: #CDEAFA;

      padding: 50px 55px;
    }

    &--right {
      position: relative;
    }

    &-date {
      display: inline-block;

      font-size: 20px;
      font-weight: 600;
      line-height: 20px;
      color: #86B4CE;

      margin: 0 0 85px 0;
    }

    &-title {
      margin: 0 0 20px 0;
    }

    &-tags {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 44px;

      border-bottom: 1px solid #86B4CE;

      padding: 0 0 19px 0;
      margin: 0 0 19px 0;

      &-item {
        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
        color: #86B4CE;
        text-transform: uppercase;
      }
    }

    &-text {
      display: inline-block;

      font-size: 20px;
      font-weight: 600;
      line-height: 20px;
      text-transform: uppercase;

      margin: 0 0 30px 0;
    }

    &-details {
      display: flex;
      flex-direction: column;
      gap: 9px;

      &-item {
        position: relative;

        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        color: #232323;

        padding: 0 0 0 20px;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 9px;

          width: 2px;
          height: 2px;
          border-radius: 50%;
          background-color: #232323;

          transform: translateY(-50%);
        }
      }
    }

    &-image {
      width: 100%;
      height: 100%;
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50%;
    }

    &-label {
      position: absolute;
      bottom: 20px;
      left: 20px;

      display: flex;
      align-items: center;
      justify-content: center;

      height: 36px;
      border: 1px solid #FFF;
      border-radius: 25px;
      background: rgba(255, 255, 255, 0.30);
      backdrop-filter: blur(15px);

      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
      color: #FFF;
      text-transform: uppercase;

      padding: 0 15px;
    }

  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    border-radius: 0px 0px 25px 25px;
    background: #FFF;

    padding: 40px 0 0 0;
    margin: 0 0 100px 0;

    &-headline,
    .event__info-subline {
      display: inline-block;

      max-width: 90%;

      margin: 0 auto;
    }

    &-headline {
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
      text-align: center;
      text-transform: uppercase;

      margin: 0 0 15px 0;
    }

    &-subline {
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      color: #232323;
      text-align: center;

      margin-bottom: 41px !important;
    }
  }

  &__tabs {
    &-title {
      font-size: 36px;
      font-weight: 600;
      line-height: 36px;
      color: #86B4CE;
      text-align: center;
      text-transform: uppercase;

      margin: 0 0 25px 0;
    }

    &-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 10px;

      width: 100%;
    }

    &-item {
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      width: 100%;
      height: 50px;
      background-color: #FFF;
      border-radius: 25px;
      overflow: hidden;
      cursor: pointer;

      transition: all 0.3s;

      &--active {
        border-radius: 25px 25px 0 0;

        transition: all 0.3s;

        & .arrow-link {
          transform: rotate(90deg);
          transition: all 0.3s;
        }
      }

      &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        min-height: 50px;
        box-sizing: border-box;
        border-radius: 200px;
        background: #86B4CE;

        font-size: 15px;
        font-weight: 500;
        line-height: 16px;
        color: #FFF;
        text-transform: uppercase;

        padding: 12px 31px;

        @include mixins.respond-to(notDesktop) {
          padding: 13px 6px;
        }
      }

      &-name {
        user-select: none;
      }

      &-content {
        padding: 25px 30px 30px 30px;
      }
    }
  }
}