@use "../mixins";

.shop {
  min-height: 910px;
  background-color: #F2FAFF;

  &__bg {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;

    &--one {
      background: #F2FAFF;

      padding: 120px 0 0 0;
      margin: 0 0 40px 0;
    }

    &--two {
      background: linear-gradient(180deg, #F1FAFF 0%, #F4F4F4 100%);

      padding: 0 0 120px 0;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 83%;

    margin: 0 auto;
  }

  &__title,
  .shop__column-brandname,
  .shop__column-price {
    display: inline-block;
  }

  &__title {
    font-family: 'Montserrat', system-ui, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    color: #282828;
    text-align: center;
    text-transform: uppercase;

    margin: 0 0 40px 0;
  }

  &__wrapper {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    gap: 10px;

    width: 100%;
  }

  &__column {
    &--left {}

    &--right {
      width: 100%;
      background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);

      padding: 56px 70px 14px 70px;
    }

    &-brandname {
      font-size: 16px;
      font-weight: 600;
      line-height: 16px;
      text-transform: uppercase;

      margin: 0 0 24px 0;
    }

    &-title {
      margin: 0 0 10px 0;
    }

    &-amount {
      margin: 0 0 47px 0;
    }

    &-info {
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      justify-content: flex-start;
      gap: 10px;

      margin: 0 0 61px 0;
    }

    &-price {
      font-size: 20px;
      font-weight: 600;
      line-height: 20px;
      text-transform: uppercase;

      margin: 0 0 29px 0;
    }

    & .main-link {
      justify-content: flex-start;
    }
  }

  &__tabs {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    gap: 170px;

    width: 100%;
    box-sizing: border-box;
    background: #FFF;

    padding: 70px;
    margin: 0 0 70px 0;

    &-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 10px;

      width: 100%;
    }

    &-item {
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      width: 100%;
      height: 50px;
      border-radius: 25px;
      background: #F2FAFF;
      overflow: hidden;
      cursor: pointer;

      transition: all 0.3s;

      &--active {
        border-radius: 25px 25px 0 0;

        transition: all 0.3s;

        & .arrow-link {
          transform: rotate(90deg);
        }
      }

      &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        min-height: 50px;
        box-sizing: border-box;
        border-radius: 200px;
        background: #86B4CE;

        font-family: 'Montserrat', system-ui, sans-serif;
        font-size: 15px;
        font-weight: 500;
        line-height: 16px;
        color: #FFF;
        text-transform: uppercase;

        padding: 12px 31px;

        @include mixins.respond-to(notDesktop) {
          padding: 13px 6px;
        }
      }

      &-name {
        user-select: none;
      }

      &-content {
        display: inline-block;

        font-family: 'Montserrat', system-ui, sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        color: #232323;
        letter-spacing: 0.14px;

        padding: 25px 30px 30px 30px;
      }
    }
  }

  &__reviews {
    width: 100%;

    &-slider {
      width: 100%;
      max-width: 100%;
      box-sizing: border-box;

      &-slide {
        width: 575px !important;
        height: auto;
        min-height: 282px;
        box-sizing: border-box;
      }
    }
  }
}