@use "../mixins";

.shop {
  min-height: 910px;
  background-color: #F2FAFF;

  &__bg {
    width: 100%;
    height: fit-content;

    &--one {
      background: #F2FAFF;

      padding: 120px 0 0 0;
    }

    &--two {
      background: linear-gradient(180deg, #F1FAFF 0%, #F4F4F4 100%);

      padding: 0 0 120px 0;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 83%;

    margin: 0 auto;
  }

  &__title {
    display: inline-block;

    font-family: 'Montserrat', system-ui, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    color: #282828;
    text-align: center;
    text-transform: uppercase;

    margin: 0 0 40px 0;
  }

  &__wrapper {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    gap: 10px;

    margin: 0 0 40px 0;
  }

  &__column {}

  &__tabs {
    &-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 10px;

      width: 100%;
    }

    &-item {
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      width: 100%;
      height: 50px;
      background-color: #FFF;
      border-radius: 25px 25px 0 0;
      overflow: hidden;
      cursor: pointer;

      transition: height 0.3s;

      &--active {}

      &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        min-height: 50px;
        box-sizing: border-box;
        border-radius: 200px;
        background: #86B4CE;

        font-family: 'Montserrat', system-ui, sans-serif;
        font-size: 15px;
        font-weight: 500;
        line-height: 16px;
        color: #FFF;
        text-transform: uppercase;

        padding: 12px 31px;

        @include mixins.respond-to(notDesktop) {
          padding: 13px 6px;
        }
      }

      &-name {
        user-select: none;
      }

      &-content {
        display: inline-block;

        font-family: 'Montserrat', system-ui, sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        color: #232323;
        letter-spacing: 0.14px;

        padding: 25px 30px 30px 30px;
      }
    }
  }
}