/* hamburger */
.btn-hamburger {
    background: rgba(0, 0, 0, 0);
    height: 35px;
    width: 35px;
    cursor: pointer;
    padding: 0;
    position: relative;
    z-index: 1;
    border: none;
}

.btn-hamburger:focus {
    outline: none;
}

.btn-hamburger span {
    height: 2px;
    display: block;
    background: #282728;
    transition: 0.5s ease;
    width: 35px;
    position: relative;
    margin: 0 auto;
    border-left: 1px solid #5b5a5b;
    border-right: 1px solid #5b5a5b;
}

.btn-hamburger span:after,
.btn-hamburger span:before {
    content: '';
    display: block;
    width: 35px;
    height: 2px;
    background: #282728;
    position: absolute;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    border-left: 1px solid #5b5a5b;
    border-right: 1px solid #5b5a5b;
    left: -1px;
}

.btn-hamburger span:before {
    top: 6px;
    transition-property: top, transform;
    transition-duration: 0.25s;
    transition-delay: 0.25s, 0s;
}

.btn-hamburger span:after {
    bottom: 6px;
    transition-property: bottom, transform;
    transition-duration: 0.25s;
    transition-delay: 0.25s, 0s;
}

.btn-hamburger.fixed {
    position: relative;
    z-index: 201;
    height: 72px;
    opacity: 0;
    transform: translate3d(0, -15px, 0);
}

.btn-hamburger.show {
    opacity: 1;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
}

.btn-hamburger.active span {
    background-color: transparent;
    border-color: transparent;
}

.btn-hamburger.active span:before {
    top: 0;
    transform: rotate(45deg);
    transition-delay: 0s, 0.25s;
}

.btn-hamburger.active span:after {
    bottom: 0;
    transform: rotate(-45deg);
    transition-delay: 0s, 0.25s;
}

@keyframes hamburger_top_animate {
    0% {
        top: 8px;
        transform: rotate(0);
    }

    50% {
        top: 0px;
        transform: rotate(0);
    }

    100% {
        top: 0px;
        transform: rotate(45deg);
    }
}

@keyframes hamburger_bottom_animate {
    0% {
        bottom: 8px;
        transform: rotate(0);
    }

    50% {
        bottom: 0px;
        transform: rotate(0);
    }

    100% {
        bottom: 0px;
        transform: rotate(-45deg);
    }
}

/* end hamburger */


.main-header {
    padding: 8px 0 14px;
    background-color: #f2faff;
    border-bottom: 1px solid #838383;
}

.main-header .container {
    gap: 10px;
}

.header-logo {
    padding-top: 6px;
    margin-right: auto;
}

.main-header-menu {
    margin-right: 12px;
}

.main-header-menu ul.main-menu {
    gap: 22px;
}

.main-header-menu ul:not(.main-menu) {
    visibility: hidden;
    height: 0;
    
}

.main-header-menu ul:not(.main-menu) li:not(:last-child) {
    margin-bottom: 10px;
}

.main-header-menu ul li.menu-item-has-children {
    padding-right: 14px;
}

.main-header-menu ul li.menu-item-has-children:after {
    content: "";
    display: block;
    width: 8px;
    height: 5px;
    position: absolute;
    top: 5px;
    right: 0;
    background-repeat: no-repeat;
    background-position: 50%;
}

.main-header-menu ul.main-menu li.menu-item-has-children:after {
    background-image: url(../images/dropdown_b.svg);
}

.main-header-menu ul:not(.main-menu) li.menu-item-has-children:after {
    background-image: url(../images/dropdown.svg);
}

.main-header-menu ul.main-menu li a {
    color: #232323;
    font-size: 14px;
    font-weight: 500;
    line-height: 110%;
}

.main-header-menu ul:not(.main-menu) li a {
    color: #000;
    font-size: 12px;
    font-weight: 500;
    line-height: 110%;
    padding-left: 10px;
}

.main-header-menu ul:not(.main-menu) li a:before {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #86B4CE;
    position: absolute;
    top: 6px;
    left: 0;
}

ul.sub-menu {
    min-width: 150px;
    width: max-content;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, .05);
    padding: 16px;
    position: absolute;
    top: calc(100% + 8px);
    left: -40px;
    z-index: -1;
    opacity: 0;
   
}

ul.sub-menu:after {
    content: "";
    display: block;
    height: 16px;
    width: 100%;
    position: absolute;
    top: -8px;
    left: 0;
}

.main-header-menu ul.main-menu li.menu-item-has-children:hover ul.sub-menu {
    visibility: visible;
    height: auto;
    z-index: 1;
    opacity: 1;
}

ul.sub_sub-menu {
    padding: 0px 0 0 11px;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}
ul.sub_sub-menu.active {
    padding: 10px 0 0 11px;
}
.main-header-socials {
    gap: 2px;
}

.social-item {
    width: 42px;
    height: 42px;
}

.header-callback {
    width: 150px;
    height: 40px;
    border-radius: 200px;
    border: 1px solid #282828;
    color: #282828;
    font-size: 14px;
    font-weight: 500;
    line-height: 110%;
}

.main-header-cart {
    width: 40px;
    height: 40px;
}
