@import 'normalize';

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "";
    src: url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: "Playfair";
    src: url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

html {
    box-sizing: border-box;
    height: 100%;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none;
}

body {
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    min-width: 320px;
}

img {
    max-width: 100%;
}

main {
    flex: 1 0 auto;
    position: relative;
    overflow: hidden;
}

footer {
    flex: 0 0 auto;
}

html.no_scroll {
    overflow: hidden;
}

button,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.position-fixed {
    position: fixed;
}

.top-0 {
    top: 0;
}

.start-0 {
    left: 0;
}

.end-0 {
    right: 0;
}

.bottom-0 {
    bottom: 0;
}

.d-block {
    display: block;
}

.d-grid {
    display: grid;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.d-inline-block {
    display: inline-block;
}

.flex-column {
    flex-direction: column;
}

.flex-grow-1 {
    flex-grow: 1;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-baseline {
    align-items: baseline;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.mx-auto {
    margin: 0 auto;
}

.ms-auto {
    margin-left: auto;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: right;
}

.list-none {
    list-style: none;
}

.text-decoration-none {
    text-decoration: none;
}

.text-uppercase {
    text-transform: uppercase;
}

.btn {
    padding: 0;
    background-color: transparent;
    border: none
}

.container-fluid {
    max-width: 100%;
    width: 100%;
    padding: 0 35px;
}

.container {
    max-width: 1184px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

/* modals */

.alModal {
    width: 96%;
    max-width: 600px;
    height: auto;
    display: none;
    position: fixed;
    z-index: 100;
    opacity: 0;
    top: 100%;
    left: 50%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.alModalClose {
    width: 18px;
    cursor: pointer;
    position: absolute;
    top: 18px;
    right: 20px;
    z-index: 101;
    opacity: 1;
}


.alModalClose:hover {
    opacity: 0.8;
}


.alModal-image {
    height: 240px;
}
.alModal-image img {
    object-fit: cover;
    object-position: 50%;
}

.alModal .thank_words {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #282828;
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
}
.alModal .thank_words span {
    color: #86B4CE;
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
}
.alModalContent-title {
    color: #282828;
    text-align: center;
    font-size: 34px;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.alModalContent-text {
    color: #232323;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.16px;
    margin-bottom: 24px;
}

.overlay,
#overlay {
    z-index: 70;
    position: fixed;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

#overlay.active {
    display: block;
}

.alModalContent {
    max-width: 540px;
    padding: 35px 20px 45px;
    margin: 0 auto;
}




.alModalContent form {
    width: 100%;
}


.alModalContent .alModalInput {
    width: 100%;
    height: 50px;
    border: none;
    font-size: 16px;
    color: #000;
    padding: 0 25px;
    margin-bottom: 5px;
    background: #FFFFFF;
    background-color: #F2FAFF;
    border-radius: 100px;
}

.alModalContent .alModalInput:placeholder {
    opacity: 1;
    color: #666666;
}

.alModal .alModalButton {
    width: 100% !important;
    border: none;
    margin: 5px 0 12px;
    cursor: pointer;
}



.alModal .under-form-text {
    color: #838383;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 110%; 
}


.alModal .under-form-text a {
    color: #838383;
}

.alModalThank {
    display: flex;
    align-items: center;
    justify-content: center;
}
.alModalThank .alModalContent {
    padding-top: 50px;
    padding-bottom: 50px;
}
/* modals */


.main-title {
    color: #282828;
    font-size: 36px;
    font-weight: 600;
    line-height: 100%;
}

p {
    margin: 0;
}

p:last-child {
    margin-bottom: 0 !important;
}

.swiper-button-next,
.swiper-button-prev {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 50%;
    margin: 0;
    top: calc(50% - 15px);
}
.swiper-button-prev {
    background-image: url(../images/swiper-l.svg);
    left: -50px;
}
.swiper-button-next {
    background-image: url(../images/swiper-r.svg);
    right: -50px;
}
.swiper-button-next:after, .swiper-button-prev:after {
    display: none;
}


.tag {
    min-width: 107px;
    height: 30px;
    padding: 0 12px;
    border-radius: 25px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(15px);
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
}


.main-page-banner {
    padding: 50px 0 24px;
    background-color: #F2FAFF;
}
.main-slider {}
.main-slide {
    height: 400px;
    padding: 10px;
}
.main-slide-text {
    max-width: 540px;
    background-color: rgba(221, 221, 221, 0.50);
    backdrop-filter: blur(25px);
    padding: 28px 30px;
    color: #FFF;
    font-size: 38px;
    font-weight: 600;
    line-height: 100%;
}
.revolution_block {
    padding: 65px 0 40px;
    background: linear-gradient(180deg, #F1FAFF 0%, #F4F4F4 100%);
}
.revolution_block-content {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto 1fr;
    gap: 42px 10px;
}
.revolution-info {
    grid-column: 1;
    grid-row: 1;
}
.revolution-info .main-title {
    margin-bottom: 20px;
}
.revolution-text p{
    color: #232323;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.16px;
    margin-bottom: 20px;
}
.revolution_block-content .main-link {
    max-width: 360px;
    grid-column: 1;
    grid-row: 2;
}
.revolution_block-video {
    max-width: 530px;
    grid-column: 2;
    grid-row: 1/3;
    justify-self: end;
    background-color: #fff;
}
.revolution_block-video-item {
    aspect-ratio: 13/7;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}
.revolution_block-video .btn_play {
    width: auto;
    gap: 10px;
    transform: none;
    bottom: 10px;
    left: 10px;
    top: auto;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.14px;
}
.revolution_block-video-text {
    padding: 16px 17px 16px 18px;
    color: #838383;
    font-size: 12px;
    font-weight: 500;
    line-height: 135%;
}

.directions_block {
    background-color: #f4f4f4;
    padding: 45px 0 75px;
}
.directions_block-head {
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin-bottom: 40px;
}

.directions_block-head-text {
    color: #232323;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.16px;
}
.directions_block-content {
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin-bottom: 40px;
}
.directions-item {
    background-color: #fff;
}
.directions-item-image {
    height: 262px;
}
.directions-item-image img {
    object-fit: cover;
    object-position: 50%;
}
.directions-item-info {
    padding: 26px 38px;
}
.directions-item-title {
    color: #232323;
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.16px;
    margin: 0 0 10px 0;
}
.directions-item-text {
    color: #838383;
    font-size: 14px;
    font-weight: 500;
    line-height: 135%;
    letter-spacing: 0.14px;
}

.treatments_block {
    background-color: #f4f4f4;
    padding: 75px 0 130px;
}
.treatments_block-head {
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    padding-bottom: 44px;
    border-bottom: 1px solid #838383;
    margin-bottom: 40px;
}
.treatments_block-head .main-title {
    max-width: 430px;
}
.treatments_block-head-text {
    color: #232323;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
    letter-spacing: 0.16px;
    align-self: end;
}
.treatments-slider {}
.treatments-slide {}
.treatments-slide-image {}
.treatments-slide-image img {}
.main-slide-text {}


.brand-banner {
    padding: 50px 0 45px;
    background-color: #F2FAFF;
}
.brand-banner-inner {
    background-color: #CDEAFA;
}
.brand-banner-info {
    padding: 62px 50px 55px;
    width: calc(50% + 20px);
    max-width: 600px;
}
.brand-banner-image {
    font-size: 0;
    width: calc(50% - 20px);
}
.brand-banner-title {
    color: #282828;
    font-size: 36px;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 30px;
}
.brand-banner-text {
    color: #232323;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.16px;
}
.brand-banner-image {
    font-size: 0;
}

.brand-description_block {
    padding: 25px 0 55px;
    background: linear-gradient(180deg, #F1FAFF 0%, #F4F4F4 45%);
}

.brand-description_block-head {
    margin-bottom: 50px;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.brand-description_block-head .science_block-head-text {
    padding-left: 10px;
}

.brand-description_block .main-link + .science_block-content {
    padding-top: 50px;
}
.brand-description_block .science-inner {
    border-radius: 25px 25px 0px 0px;
    padding-bottom: 60px;
}
.video_block {
    margin-bottom: 40px;
}

.video_block .video_block-item {
    aspect-ratio: 16/6.9;
}

.video_block-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.btn_play {
    width: 38px;
    height: 38px;
    font-size: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.brand-products_block {
    padding: 45px 0 70px;
    background: linear-gradient(180deg, #F4F4F4 0%, #F1FAFF 100%);
}

.brand-products_block .main-title {
    margin-bottom: 50px;
}


.brand-product-card {
    font-size: 0;
}
.brand-product-card-image {
    border: 1px solid #FFF;
    aspect-ratio: 4/4;
}
.brand-product-card-image img {
    object-fit: cover;
    object-position: 50%;
}
.product-tag {
    top: 10px;
    left: 10px;
}
.brand-product-card-info {
    height: 120px;
    padding: 0 10px;
    background-color: #fff;
}

.results_block {
    padding: 20px 0 45px;
    background-color: #f2faff
}
.results_block .main-title {
    margin-bottom: 40px;
}


.science_block {
    padding: 45px 0 55px;
    background-color: #F2FAFF;
}
.science-inner {
    border-radius: 0px 0px 25px 25px;
    background-color: #FFF;
}
.science_block-head {
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 55px 60px 30px;
    margin-bottom: 40px;
}
.science_block-head:after {
    content: "";
    display: block;
    height: 1px;
    width: calc(100% - 120px);
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E1E1E1;
}
.science_block .main-title {
    color: #86B4CE;
}
.science_block-head-text {
    color: #232323;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.16px;
}
.science_block-content {
    position: relative;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.science_block-content:not(:last-child) {
    padding-bottom: 48px;
    margin-bottom: 40px;
}
.science_block-content:not(:last-child):after {
    content: "";
    display: block;
    width: calc(100% - 120px);
    height: 1px;
    background-color: #E1E1E1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.science_block-column:nth-child(1) .science_block-column-inner {
    padding: 0 10px 0 60px;
}
.science_block-column:nth-child(2) .science_block-column-inner {
    padding: 0 60px 0 10px;
}
.science_block-column-inner {
    flex-grow: 1;
}
.science_block-column-inner:not(:last-child) {
    margin-bottom: 40px;
}
.science_block-column-title {
    color: #282828;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 30px;
}
.science_block-column-text:not(:last-child) {
    margin-bottom: 60px;
}
.science_block-column-text p {
    color: #232323;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.14px;
    margin-bottom: 20px;
}
.science_block-column-text ul,
.science_block-column-text ol {
    margin: 0;
    padding-left: 20px;
}
.science_block-column-text ul:not(:last-child),
.science_block-column-text ol:not(:last-child) {
    margin-bottom: 20px;
}
.science_block-column-text ul li,
.science_block-column-text ol li {
    color: #232323;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%; 
    letter-spacing: 0.14px;
}
.science_block-column-text ul li:not(:last-child),
.science_block-column-text ol li:not(:last-child) {
    margin-bottom: 10px;
}
.main-link {
    height: 50px;
    padding: 0 30px;
    border-radius: 200px;
    background-color: #282828;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    line-height: 110%;
    transition: 0.2s ease;
}
.main-link:hover {
    background-color: #86B4CE;
}
.icon-link {
    position: relative;
    width: 14px;
    height: 14px;
    margin-right: 28px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.arrow-link {
    transition: 0.25s ease-in-out;
    will-change: transform;
}
.arrow-link._visible {
    top: 0;
    left: 0;
    transform: translateZ(0);
}
.arrow-link._hidden {
    bottom: -100%;
    left: -120%;
}
.main-link:hover .arrow-link {
    transform: translate3d(120%, -100%, 0);
}

.brand_technologies {
    padding: 55px 0 70px;
    background: linear-gradient(180deg, #F1FAFF 0%, #F4F4F4 100%);
}
.brand_technologies-inner {
    grid-template-columns: minmax(200px,580px) minmax(200px,520px);
    gap: 40px;
}
.brand_technologies .main-title {
    grid-row: 1;
    grid-column: 1;
}
.brand_technologies-images {
    grid-row: 2;
    grid-column: 1;
    gap: 5px;
}
.tech-image-item {}
.tech-image-item img {}
.brand_technologies-info-title {
    grid-row: 1;
    grid-column: 2;
    color: #282828;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
}
.brand_technologies-info-text {
    grid-row: 2;
    grid-column: 2;
    align-self: center;
}
.brand_technologies-info-text p {
    color: #232323;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.16px;
    margin-bottom: 20px;
}



.reviews_block-cards {
    padding: 40px 0 100px;
    background-color: #F4F4F4;
}
.reviews_block-cards .main-title {
    margin-bottom: 42px;
}
.reviews-cards {
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    padding-top: 45px;
    border-top: 1px solid #838383;;
}
.reviews-cards-item {}
.reviews-cards-item-image {
    font-size: 0;
    aspect-ratio: 4/3.13;
    margin-bottom: 30px;
}
.reviews-cards-item-image img {
    object-fit: cover;
    object-position: 50%;
}
.reviews-cards-item-info {
    flex-grow: 1;
}
.reviews-cards-item-title {
    color: #232323;
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.16px;
    margin-bottom: 10px;
    flex-grow: 1;
}
.reviews-cards-item-text {
    color: #838383;
    font-size: 14px;
    font-weight: 500;
    line-height: 135%;
    letter-spacing: 0.14px;
}

.brand_advantages {
    padding: 100px 0 200px;
    background: linear-gradient(180deg, #A3CAE0 35.94%, #F4F4F4 100%);

}
.brand_advantages-inner {
    grid-template-columns: repeat(2,1fr);
    gap: 32px;
}
.brand_advantages-image {
    font-size: 0;
}
.brand_advantages-image img {
    object-fit: cover;
    object-position: 50%;
}
.brand_advantages-info {
    max-width: 560px;
    padding-top: 5px;
}
.brand_advantages-title {
    color: #fff;
    font-size: 34px;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 44px;
}


.brand_advantages-list ol li,
.brand_advantages-list ul li {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 110%;
    text-transform: uppercase;
}
.brand_advantages-list ul li {
    padding-left: 26px;
    background-image: url(../images/plus.svg);
    background-repeat: no-repeat;
    background-position: 0 6px;
}
.brand_advantages-list ul li:not(:last-child),
.brand_advantages-list ol li:not(:last-child) {
    margin-bottom: 10px;
}

.brand_advantages-list ol {
    margin: 0;
    padding: 0 0 0 25px;
}

// .brand_advantages-list ol li:not(:last-child) {
//     margin-bottom: 40px;
// }
.feedback_block {
    padding: 10px 0 125px;
    background: linear-gradient(180deg, #F4F4F4 0%, #F4F4F4 100%);
}

.feedback-inner {
    grid-template-columns: 380px 1fr;
}

.feedback-left {
    width: 360px;
}

.feedback-title {
    max-width: 300px;
    color: #282828;
    font-size: 40px;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 40px;
}

.feedback-contacts {
    margin-bottom: 40px;
}

.feedback-contacts-item {
    color: #232323;
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 0.16px;
}

.feedback-contacts-item:not(:last-child) {
    margin-bottom: 20px;
}

.feedback-contacts-item a {
    color: #232323;
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 0.16px;
}

.feedback-form {}

.feedback-form-name {
    color: #232323;
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.16px;
    margin-bottom: 20px;
}


.feedback-input {
    border: none;
    border-bottom: 1px solid #838383;
    background-color: transparent;
    height: 34px;
    font-size: 14px;
    font-weight: 500;
    line-height: 135%;
    letter-spacing: 0.14px;
    margin-bottom: 12px;
}

.feedback-submit {
    height: 50px;
    border: none;
    border-radius: 200px;
    background-color: #232323;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    line-height: 110%;
    margin-top: 14px;
}

.feedback-image {
    max-width: 700px;
    width: calc(100% - 400px);
    font-size: 0;
}

.feedback-image img {
    object-fit: cover;
    object-position: 50%;
}

.feedback-tag {
    top: 20px;
    right: 20px;
}

.services_block {
    background-color: #F2FAFF;
    padding: 50px 0 70px;
}

.services_head {
    padding-bottom: 30px;
    margin-bottom: 30px;
    background-color: #F2FAFF;
    border-bottom: 1px solid #838383
}
.services_head-title {
    max-width: 290px;
    font-size: 38px;
}



.service-slide-image {
    width: calc(50% - 20px);
}
.service-slide-info {
    width: calc(50% + 20px);
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    padding: 20px 20px 50px;
}

.service-slide-info-name {
    color: #86B4CE;
    font-size: 36px;
    font-weight: 600;
    line-height: 100%;
}

.service-slide-info .main-link {
    width: calc(100% - 40px);
    bottom: 20px;
}

.services-info_block {
    padding: 0 0 70px;
    background: linear-gradient(180deg, #F1FAFF 0%, #F4F4F4 100%);
}
.services-info_block .video_block {
    margin-bottom: 20px;
}
.home .feedback_block,
.services-page .feedback_block,
.machine-page .feedback_block {
    padding: 116px 0 125px;
}
.services-info_block .science-inner {
    padding-top: 60px;
    border-radius: 0;
    margin-bottom: 70px;
}
.services-info_block .science_block-content {
    padding-bottom: 30px;
    margin-bottom: 0;
}
.science_block-footer {
    padding: 30px 60px 60px;
}
.science_block-footer-text {
    color: #282828;
    font-size: 20px;
    font-weight: 600;
    line-height: 110%; 
}


.suitable_block {
    padding: 70px 0 85px;
    background: linear-gradient(180deg, #A3CAE0 35.94%, #F4F4F4 100%);
}
.suitable-inner {
    min-height: 500px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    padding: 265px 10px 10px;
}

.suitable-inner-info {
    padding: 30px 32px 25px;
    background: rgba(221, 221, 221, 0.50);
    backdrop-filter: blur(25px);
}
.suitable-inner-info-title {
    color: #FFF;
    font-size: 30px;
    font-weight: 600;
    line-height: 100%; 
    padding-bottom: 22px;
    border-bottom: 1px solid #FFF;
    margin-bottom: 25px;
}
.suitable-inner-info-content {
    
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    
}
.suitable-inner-info-column {
    max-width: 500px;
}
.suitable-inner-info_num {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 100%; 
    margin-bottom: 16px;
}
.suitable-inner-info_text {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
}

.disclaimer-item {
    min-height: 140px;
    background-color: #232323;
    margin-top: 70px;
}
.disclaimer-icon {
    width: 209px;
    color: #86B4CE;
    font-size: 40px;
    font-weight: 600;
    line-height: 110%;
    border-right: 1px solid #fff;
}
.disclaimer-info {
    width: calc(100% - 209px);
    padding: 20px;
}
.disclaimer-text {
    max-width: 730px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 110%;
}


.services-triggers_block {
    padding: 70px 0 122px;
    background: linear-gradient(180deg, #F1FAFF 0%, #F4F4F4 100%);
}
.services-triggers_block .main-title {
    max-width: 840px;
    margin-bottom: 110px;
}

.services-triggers-content {
    grid-template-columns: repeat(3,1fr);
    gap: 62px 0;
}
.services-trigger {
    padding: 0 15px;
    min-height: 100px;
}
.services-trigger:nth-child(3n+2) {
    border-left: 1px solid #86B4CE;
    border-right: 1px solid #86B4CE;
}

.services-trigger-num {
    color: #86B4CE;
    font-size: 14px;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 35px;
}
.services-trigger-text {
    color: #282828;
    font-size: 15px;
    font-weight: 600;
    line-height: 110%;
    max-width: 310px;
}
.services-trigger:nth-child(4) .services-trigger-text {
    max-width: 340px;
}
.services-page .brand_advantages {
    background: linear-gradient(180deg, #A3CAE0 35.94%, #e0f3ff 100%);
    padding: 100px 0;

}
.services-page .brand_advantages-inner {
    grid-template-columns: calc(50% - 10px) calc(50% - 50px);
    gap: 60px;
}

.services-page .brand_advantages-title {
    padding-bottom: 30px;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
}
.services-page .brand_advantages-list {
    max-width: 515px;
}

.places_block {
    background-color: #F2FAFF;
    padding-bottom: 100px;
}
.services-page .places_block {
    background-color: #e0f3ff;
}
.places-slider {}
.places-slide {
    padding: 0 60px;
    background-color: #fff;
}
.places-slide-head {
    padding: 40px 0 34px;
    border-bottom: 1px solid #E1E1E1;
}
.places-slide-name {
    max-width: 280px;
    color: #86B4CE;
    font-size: 36px;
    font-weight: 600;
    line-height: 100%;
}
.place-slide-logo {}
.places-slide-info {
    padding: 90px 0 100px;
}
.places-slide-text:nth-child(1) {
    width: calc(50% - 10px);
}
.places-slide-text:nth-child(2) {
    width: calc(50% - 50px);
}
.places-slide-text p {
    color: #232323;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.14px;
    margin-bottom: 20px;
}
.places-slide-text p:last-child b {
    color: #282828;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
    margin-top: 15px;
    display: inline-flex;
}

.machine-title {
    color: #282828;
    font-size: 20px;
    font-weight: 600;
    line-height: 110%;
    margin-bottom: 40px;
}

.machine-tech_block {
    padding: 50px 0 35px;
    background-color: #F2FAFF;
}

.machine-tech-inner {
    padding: 10px;
    background-color: #CDEAFA;
}
.machine-tech-gallery {
    width: calc(50% - 10px);
}
.machine-tech-gallery_video {
    aspect-ratio: 16/11;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    margin-bottom: 10px;
}
.machine-tech-slider {}
.machine-tech-slide {
    aspect-ratio: 8/6;
}
.machine-tech-slider .swiper-button-prev {
    left: 0;
}
.machine-tech-slider .swiper-button-next {
    right: 0;
}
.machine-tech-info {
    width: calc(50% - 10px);
}
.machine-tech-info .main-title {
    max-width: 335px;
    margin-bottom: 35px;
}
.machine-tech-info-text {
    padding-bottom: 30px;
    border-bottom: 1px solid #86B4CE;
}
.machine-tech-info-text p {
    color: #232323;
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.14px;
    margin-bottom: 30px;
}
.machine-tech-info-text ul {
    padding: 0 0 0 18px;
    margin: 0;
}
.machine-tech-info-text ul li {
    color: #232323;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
}
.machine-tech-info-text ul li:not(:last-child) {
    margin-bottom: 8px;
}

.machine-tech-info_body {
    max-width: 490px;
    padding: 0 7px;
    margin-bottom: 28px;
}
.machine-tech-info_footer {
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.tech-item-column {}
.tech-item-name {
    color: #86B4CE;
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.14px;
    margin-bottom: 16px;
}
.tech-item-links {
    gap: 8px;
}
.tech-link {
    width: 50px;
    height: 50px;
}


.machine-page .service-slide-info {
    background: linear-gradient(180deg, #F2F9FD 0%, #FFF 100%);
}

.machine-advantages_block {
    padding-top: 30px;
    background: linear-gradient(180deg, #F1FAFF 0%, #F4F4F4 100%);
}

.machine-advantages_block .science-inner {
    border-radius: 0;
}
.machine-advantages_block .main-title {
    color: #86B4CE;
}
.machine-advantages-triggers {
    padding: 0 60px 60px;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}
.machine-advantages-item {}
.machine-advantages-item_num {
    color: #86B4CE;
    font-size: 14px;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 15px;
}
.machine-advantages-item_name {
    color: #282828;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 15px;
}
.machine-advantages-item-text {
    color: #232323;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.14px
}


.interested-item {
    padding: 57px 60px 107px;
    background-color: #fff;
    border-radius: 0 0 25px 25px;
    margin-bottom: 70px;
}
.interested-item-text {
    color: #282828;
    font-size: 20px;
    font-weight: 600;
    line-height: 110%;
}

.attachments_block {
    padding: 70px 0 50px;
    background-color: #F4F4F4;
}
.machine-results_block {
    padding: 50px 0 100px;
    background-color: #F4F4F4;
}

.machine-video_block {
    padding: 90px 0 110px;
    background: linear-gradient(180deg, #A3CAE0 35.94%, #F2FAFF 100%);
}
.machine-video_block .main-title {
    color: #FFF;
    font-size: 40px;
    font-weight: 600;
    line-height: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid #FFF;
    margin-bottom: 40px;
}
.machine-slider {}
.video-slide {
    aspect-ratio: 16/11;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.video-slide .video-tag {
    left: 10px;
    bottom: 10px;
}
@import 'buttons';
@import 'header';
@import 'footer';
@import 'media-requests';
